Source: ros-indigo-ridgeback-desktop
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/ridgeback_desktop
Standards-Version: 3.9.2

Package: ros-indigo-ridgeback-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-ridgeback-msgs, ros-indigo-ridgeback-viz
Description: Packages for working with Ridgeback from a ROS desktop.
